/* Navigation  */
#navbar {
	flex-direction: column;
}

#navbar ul li a {
	font-size: 1rem;
	padding: 0px 7px;
	margin-bottom: 8px;
}
/* Home Section  */
#home {
	height: 403px;
	padding: 3px 28px;
}

#home::before {
	height: 538px;
}
#home p {
	font-size: 13px;
}

/* Services Section  */
#services {
	flex-direction: column;
}
#services .box {
	padding: 14px;
	margin: 2px 0px;
}
#services .box img {
	height: 90px;
}
#services .box h2 {
	font-size: 2rem;
}

/* Client Section  */
#clients {
	flex-wrap: wrap;
}
#clients img {
	height: 66px;
}

/* Contact Section  */
#contact form {
	width: 80%;
}
/* Footer  */

/* Utility Classes  */
.h-primary {
	font-size: 26px;
}

.btn {
	font-size: 13px;
	padding: 4px 8px;
}
